html, body, div, span,  iframe,
h1, h2, h3, h4, h5, h6, p,
a, address,  code, em, img, kbd, strong, ol, ul, li, form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, embed, 
figure, figcaption, footer, header, 
menu, nav,  section, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, figcaption, figure, 
footer, header, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    width: 100%;
    height: 100%;
    display: block;
}
a{
    text-decoration: none;
}
